/* stormy: #494E6B
cloud: #98878F
sunset: #985E6D
evening: #192231  */
/*#FCECED light pink for background  */

body {
    margin: 0;
}
menu {
    margin: 0;
    padding: 0px;
}

.top-nav-container {
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
}
.menu-navigation a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-right: 20px;
}

.main-banner {
    background-image: url("../images/background6.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    opacity: .8;
    top: 0;
}    
#downDiagL,
#downDiagK,
#downDiagL,
#topDiagL,
#acrossL,
#bottomDiagK,
#bottomDiagK-2,
#topDiagK,
#downDiagK,
#topMidM,
#leftDiagM,
#bottomMidM,
#bottomDownM,
#upK {    
    stroke: white;
} 


#L,
#K,
#M {
    stroke: white;
    stroke-width: 5px;
    stroke-dasharray: 1700;
    stroke-dashoffset: 500;
    stroke-linecap: butt;
    -webkit-transition: all 4s ease-out;
    -moz-transition: all 4s ease-out;
    -ms-transition: all 4s ease-out;
    -o-transition: all 4s ease-out;
    transition: all 4s ease-out;
}

#L:hover,
#K:hover {
    stroke: white;
    cursor: pointer;
    stroke-dashoffset: -500;
    stroke-dasharray: 2000;
}

#M:hover {
    stroke: white;
    cursor: pointer;
    stroke-dashoffset: -1500;
    stroke-dasharray: 3000;
}












.footer-container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #192231;
    color: white;
}