/* stormy: #494E6B
cloud: #98878F
sunset: #985E6D
evening: #192231  */
/*#FCECED light pink for background  */

/* font-family: 'Ubuntu', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Josefin Sans', sans-serif; */

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
menu {
    margin: 0;
    padding: 0px;
}
.top-nav-container {
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 60px;
}
.menu-navigation {
    text-align: right;
    padding-right: 40px;
}
.bottom-menu-navigation a,
.menu-navigation a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-right: 20px;
}

/*************** Banner container ***************/
.main-banner {
    height: 800px;
    background-image: url("../images/background6.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    opacity: .8;
    top: 0;
    display: flex;
}   
.my-name {
    font-family: 'Playfair Display', serif;
    color: white;
    letter-spacing: 3px;
    margin: auto;
    font-size: 40px;
}
/* ************** HELLO SVG ****************** */
 /*hello Svg  */
.main-banner svg {
    height: 500px;
}
#L2,
#O,
#L1,
#H_1_,
#E {
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
    stroke-linecap: butt;
    -webkit-transition: all 3s ease-out;
        -moz-transition: all 3s ease-out;
         -ms-transition: all 3s ease-out;
          -o-transition: all 3s ease-out;
             transition: all 3s ease-out;
}
#L2:hover,
#O:hover,
#L1:hover,
#H_1_:hover,
#E:hover {
    cursor: pointer;
    stroke-dashoffset: -500;
    stroke-dasharray: 2000;
}

/* **************End of SVG****************** */


/* **************Main content****************** */
.about-container {
    min-height: 700px;
    background-color: #FCECED;
}
.title-for-section {
    border: 2px solid #98878F;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}





.bottom-menu-navigation {
    padding-left: 30px;
}

.footer-container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("../images/footer_background2.svg");
    background-repeat: no-repeat;
    background-size: cover; 
    color: white;
}






@media only screen and (min-width: 760px){
    .bottom-menu-navigation span:after,
    .bottom-menu-navigation span:before,
    .menu-navigation a:after,
    .menu-navigation a:before {
        border: 1px solid transparent;
        bottom: 0px;
        content: " ";
        display: block;
        transition: all 280ms ease-in-out;
        width: 0;
    }
    
    .bottom-menu-navigation span:hover:after,
    .bottom-menu-navigation span:hover:before,
    .menu-navigation a:hover:after,
    .menu-navigation a:hover:before {
        border-color:white;
        transition: width 350ms ease-in-out;
        width: 100%;
        
    }
    
    .bottom-menu-navigation span:hover:before,
    .menu-navigation a:hover:before {
        bottom: auto;
        top: 0;
        width: 100%;
    }
    
    
}