/* stormy: #494E6B
cloud: #98878F
sunset: #985E6D
evening: #192231  */

body {
    margin: 0;
}

svg {
    height: 600px
}
.main-banner {
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}    

#downDiagL,
#downDiagK,
#downDiagL,
#topDiagL,
#acrossL,
#bottomDiagK,
#bottomDiagK-2,
#topDiagK,
#downDiagK,
#topMidM,
#leftDiagM,
#bottomMidM,
#bottomDownM,
#upK {    
    stroke: white;
} 


#L,
#K,
#M {
    stroke: white;
    stroke-width: 5px;
    stroke-dasharray: 2000;
    stroke-dashoffset: 500;
    stroke-linecap: butt;
    -webkit-transition: all 4s ease-out;
    -moz-transition: all 4s ease-out;
    -ms-transition: all 4s ease-out;
    -o-transition: all 4s ease-out;
    transition: all 4s ease-out;
}

#L:hover,
#M:hover,
#K:hover {
    stroke: #985E6D;
    cursor: pointer;
    stroke-dashoffset: -500;
    stroke-dasharray: 2000;
}